body{
    padding-left: 20px;
}
.hand{
    padding: 10px 10px 10px 0px;
    float: left;
}
.game-section, #money, #playerCards, #dealerCards{
    width: 100%;
    float: left;
}
.blackjack-option{
    float:left;
    width:100%;
    padding-top: 3px;
    padding-bottom: 3px;
}